<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <style>
        h1, h3{
            text-align: center;
        }
    </style>
  </head>
  <body>
    <h1><%= title %></h1>
    <h3><%= welcome %> made by <%= owner %></h3>
  </body>
</html>