body {
    background-color: #288EF3;
}

.tab{
    float: left;
    background: #eeeeee;
    width: 46%;
    margin: 1%;
    padding: 1%;
    position: relative;
    border-radius: 15px;
}

h1{
    color: #ffffff;
    background: #000000;
    border-radius: 10px;
    text-align: center; 
}

table{
    padding: 0px;
    border: 1px solid rgb(190, 190, 190);
    border-spacing: 0px;

}
 th, td {
    border: 1px solid rgb(190, 190, 190);
}

th {
    border: 1px solid rgb(190, 190, 190);
    background-color: #1B1E25;
    color: #ffffff;
    font-family: sans-serif;
    font-style: normal;

}

td {
    font-family: sans-serif;
    font-style: normal;
}

tr:nth-child(even) td {
    background-color: rgb(250, 250, 250);
}

tr:nth-child(odd) td {
    background-color: rgb(240, 240, 240);
}
